.cover {
    background-color: #E13458;
}

main.project-page p a, main.project-page span.highlight {
    color: #E13458;
}

.project-page img {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: var(--corners);
    box-shadow: 0 0 10px #423ca844;
}

.mockup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em auto;
    width: 80%;
    max-width: 1200px;
}

.mockup>img {
    width: 22%;
    box-shadow: 0 0 10px #423ca844;
    border-radius: 1em;
}

@media screen and (max-width: 800px) {
    .mockup {width: 100%;}
}