main.project-page p a {
    color: var(--purple);
}

main.project-page span.highlight {
    color: var(--purple);
}

.mockup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5em auto 5em;
    width: 80%;
}

.mockup>img {
    width: 20%;
    margin-top:2em;
    box-shadow: 0 0 10px #423ca844;
    border-radius: 1em;
}

@media screen and (max-width: 800px) {
    .mockup {width: 100%;}
    .mockup>img { width: 48%;}
}