.cover {
    background-color: #DDF3FE;
}

main.project-page p a, main.project-page span.highlight {
    color: #489BDE;
}

.project-page video {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: var(--corners);
}

/* .mockup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em auto;
    width: 80%;
} */

.mockup>img {
    display: block;
    width: 80%;
    box-shadow: 0 0 10px #423ca844;
    border-radius: 1em;
    margin: 2em auto 0;
}

@media screen and (max-width: 800px) {
    .mockup>img{width: 100%;}
}